{% extends "base.html" %}
{% block heading %}Order{% endblock %}

{% block content %}
<div class="order-container">
    <div class="has-table">
        {% if data |length != 0 %}
        <table id="order-table" class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
            </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr class="table-secondary">
                        <th scope="row">{{ item['name'] }}</th>
                        <td>AED {{ item['price'] }}</td>
                    </tr>
                {% endfor %}

            <tr class="table-secondary">
                <th scope="row">Bread</th>
                <td>AED 15</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Egg</th>
                <td>AED 15</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Flour</th>
                <td>AED 15</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">Milk</th>
                <td>AED 15</td>
            </tr>
            </tbody>
        </table>
        {% else %}
        <div id="empty-card" class="card" style="width: 450px; border: 0; box-shadow:none">
            <div class="card-body">
              <h3 class="card-title">Your Shopping Cart is empty.</h3>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card bg-secondary mb-3" style="max-width: 20rem; height: 160px">
        <div class="card-header">Subtotal (2 items):</div>
        <div class="card-body">
        <h4 class="card-title">AED 52</h4>
        </div>
        <form action="" method="POST">
            <button id="checkout-btn" type="submit" class="btn btn-primary" style="width: 100%">Checkout</button>
        </form>
        <!-- <button id="checkout-btn" type="button" class="btn btn-primary">Checkout</button> -->
    </div>
</div>
<script>
    // const button = document.getElementById('checkout-btn');
    // const table = document.getElementById('order-table');
    // const card = document.getElementById('empty-card');

    // button.addEventListener('click', () => {
    //     table.style.display = 'none'; // hide the table
    //     card.style.display = 'block'; // display card
    // });    
</script>
{% endblock %}